<% const
   showClass=(pageIdCode)=> {
	return pageIdCode == currentPageIdCode ? 'active' : '';
	}
	%>
	<nav>
		<div>
			<a href="/"
			   class="<%=showClass('home')%>">Home</a> | <a class="<%=showClass('info')%>"
			   href="/info">Info</a>
		</div>
		<div>location: <%=applocation%></div>
	</nav>